body{background-color: #ffffee;}

.red{font-color:red;}
.green{font-color:green;}
.blue{font-color:blue;}

#container{
	width:70%; 
	background-color:aqua; 
	margin : 0 auto;
	
}

.auction{
	float:left;
	border:1px solid black; 
	margin: 1em;
	padding 1em;
}

#AuctionDetail{
	margin: 0 auto;
	background-color: #efefef;
	border: 2px solid red;
}

.detail-image{
	margin: 0 auto;
}

/* #options-panel{
	margin: 0;
	padding: 5px;
	position: absolute;
	border: 1px solid red;
	z-index: 9999;
	box-shadow: 3px;
	border-radius: 0 0 3px 3px;
	background-color:red;
	
} */

ul{
        padding: 0;
        list-style: none;
    }
    ul li{
        width: 100px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 21px;
    }
    ul li a{
        display: block;
        padding: 5px 10px;
        color: #333;
        background: #f2f2f2;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul{
        display: block; /* display the dropdown */
    }

